/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
p {
  line-height: 1.6;
}
#root,
html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: url("./images/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background-color: whitesmoke;
  width: 50%;
  min-height: 30%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
  color: #545647;
  font-size: small;
}
.btn {
  border-radius: 50px;
  background-color: whitesmoke;
  border: 1px solid #545647;
  padding: 10px 30px;
  color: #545647;
  margin-top: 1.5rem;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
  color: #2a2b22;
  border: 2px solid #545647;
}
